
		<form class="calculator-form">
			<input type="text" id="calc-display"/>
			<br/>
			<input type="button" class="keys numbers" value="7"
			       onclick="addToScreen('7')"/>
			<input type="button" class="keys numbers" value="8"
			       onclick="addToScreen('8')"/>
			<input type="button" class="keys numbers" value="9"
			       onclick="addToScreen('9')"/>
			<input type="button" class="keys operators" value="C"
			       onclick="addToScreen('c')"/>
			<input type="button" class="keys operators" value="CE"
			       onclick="backspace()"/>
			<br/>
			<input type="button" class="keys numbers" value="4"
			       onclick="addToScreen('4')"/>
			<input type="button" class="keys numbers" value="5"
			       onclick="addToScreen('5')"/>
			<input type="button" class="keys numbers" value="6"
			       onclick="addToScreen('6')"/>
			<input type="button" class="keys operators" value="*"
			       onclick="addToScreen('*')"/>
			<input type="button" class="keys operators" value="/"
			       onclick="addToScreen('/')"/>
			<br/>
			<input type="button" class="keys numbers" value="1"
			       onclick="addToScreen('1')"/>
			<input type="button" class="keys numbers" value="2"
			       onclick="addToScreen('2')"/>
			<input type="button" class="keys numbers" value="3"
			       onclick="addToScreen('3')"/>
			<input type="button" class="keys operators" value="+"
			       onclick="addToScreen('+')"/>
			<input type="button" class="keys operators" value="-"
			       onclick="addToScreen('-')"/>
			<br/>
			<input type="button" class="keys numbers" value="0"
			       onclick="addToScreen('0')"/>
			<input type="button" class="keys operators" value="."
			       onclick="addToScreen('.')"/>
			<input type="button" class="equal operators" id="key-result"
			       value="=" onclick="result()"/>
			<a id="toCart" class="keys operators"
			   onclick="return calculatorToCart();"><i
					class="fas fa-shopping-cart"></i></a>
		</form>