<header class="container">
        <div class="card">
            <div class="card-body">
                <div class="nav-box col-12 col-md-3">
                    <a class="nav-link" href="#"><i class="fa fa-chevron-left"></i>Zurück</a>
                </div>
                <div class="nav-box col-12 col-md-3">
                    <a class="nav-link" href="{% url 'costumer' %}">Kundenkartei</a>
                </div>
                <div class="nav-box col-12 col-md-3">
                    <div class="row">
                        <div class="col"><a class="nav-link" href="#">Produkte</a></div>
                        <div class="col"><a class="nav-link" href="#">Dienstleistungen</a></div>
                    </div>
                </div>
                <div class="nav-box col-12 col-md-3">
                    <div class="row">
                        <div class="col"><p>{{ request.user }}</p></div>
                        <div class="col"><a class="nav-link" href="#">Logout</a></div>
                    </div>
                </div>
            </div>
        </div>
    </header>