@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
.btn-primary {
  background-color: #007bff;
  color: #fff;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #00299C;
}
.btn-primary:active {
  background-color: #0043E0;
}
.btn-primary .fa {
  padding-left: 10px;
  padding-right: 10px;
}

#body .container-fluid {
  margin-bottom: 10px;
}
#body .heading {
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  #body .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}
#body .heading h4 {
  margin-bottom: 0;
  font-size: 28px;
  color: #000;
}
@media (min-width: 576px) {
  #body .heading .btn {
    display: inline-block;
  }
}
#body .heading .btn i {
  color: #fff;
}
#body .content {
  margin-top: 10px;
}
#body .content .row-card .col-card {
  margin-bottom: 10px;
}
#body .content .row-card .col-card .card {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding-bottom: 0.5rem;
}
#body .content .row-card .col-card .card .card-header p {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}
#body .content .row-card .col-card .card .card-body .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
#body .content .row-card .col-card .card .card-body .row .col {
  margin-right: 0.5rem;
}
#body .content .row-card .col-card .card .card-body .row .col .text-1 {
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  word-wrap: break-word;
  line-height: 1.5;
}
#body .content .row-card .col-card .card .card-body .row .col .text-1 span {
  word-wrap: break-word;
}
#body .content .row-card .col-card .card .card-body .row .col .text-2 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  word-wrap: break-word;
  line-height: 1.5;
}
#body .content .row-card .col-card .card .card-body .row .col .text-2 span {
  word-wrap: break-word;
}
#body .content .row-card .col-card .card .card-body .row .col .cashbox-heading {
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  word-wrap: break-word;
  line-height: 1.75;
}
#body .content .row-card .col-card .card .card-body .row .col .cashbox-heading span {
  word-wrap: break-word;
}
#body .content .row-card .col-card .card .card-body .row .col .text-3 {
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  word-wrap: break-word;
  line-height: 1;
}
#body .content .row-card .col-card .card .card-body .row .col .text-3 span {
  word-wrap: break-word;
}
#body .content .row-card .col-card .card .card-body .row .col .text-4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  word-wrap: break-word;
  line-height: 1;
}
#body .content .row-card .col-card .card .card-body .row .col .text-4 span {
  word-wrap: break-word;
}
#body .content .row-card .col-card .card .card-body .row .col-auto .status-online {
  color: #60dd49;
}
#body .content .row-card .col-card .card .card-body .row .col-auto .status-offline {
  color: #e5053a;
}
#body .content .row-chart .col-chart {
  margin-bottom: 10px;
}
#body .content .row-chart .col-chart .card {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding-bottom: 0.5rem;
}
#body .content .row-chart .col-chart .card .card-header p {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}
#body .content .row-chart .col-chart .card .card-body .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter {
  margin-bottom: 10px !important;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .daterange-form {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  padding: 0 15px;
  margin: 0 auto;
  width: 447px;
  min-width: 447px;
  max-width: 447px;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .daterange-form .form-group {
  display: block;
  margin: 10px 5px;
  padding: 0 15px;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  margin: -20px auto;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .radio-form-div-1 {
  padding: 0;
  margin: 0;
  height: 10vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .radio-form-div-1 .radio-form-div-2 {
  background-color: white;
  height: 40px;
  width: 260px;
  position: absolute;
  border: 0.5px solid #ced4da;
  border-radius: 5px;
  overflow: hidden;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .radio-form-div-1 .radio-form-div-2 input[type=radio] {
  display: none;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .radio-form-div-1 .radio-form-div-2 label:hover {
  cursor: pointer;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .radio-form-div-1 .radio-form-div-2 .label0, #body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .radio-form-div-1 .radio-form-div-2 .label1 {
  display: block;
  height: 180px;
  width: 130px;
  background-size: 130px 180px;
  background: linear-gradient(to bottom, white 0, white 90px, #007bff 90px, #007bff 180px);
  position: absolute;
  top: 0;
  transition: 0.2s;
  color: #2c2c2c;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .radio-form-div-1 .radio-form-div-2 .label1 {
  right: 0;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .radio-form-div-1 .radio-form-div-2 span {
  display: flex;
  height: 45px;
  width: 130px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .radio-form-div-1 .radio-form-div-2 input:checked + label {
  background-position: 0 -90px;
  color: white;
  transition: 0.2s;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .form-row {
  width: 260px;
  margin-top: -10px;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .form-row .form-group .input-group {
  padding: 0;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .form-row .form-group .input-group .input-group-item:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 260px;
  height: 42px !important;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f7f7f7;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .radio-form .form-row .form-group .input-group .btn-submit {
  width: 100%;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .col-chart {
  margin-right: 0.5rem;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .col-chart .chart-area {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  overflow-x: scroll;
}
#body .content .row-chart .col-chart .card .card-body .row .col-filter .col-chart .chart-area .chart-div {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

/*# sourceMappingURL=analyzation_styles.css.map */
