@import 'variables.scss';

// media-queries:
//@media (min-width: 576px) { ... }   // Small devices (landscape phones, 576px and up)
//@media (min-width: 768px) { ... }   // Medium devices (tablets, 768px and up)
//@media (min-width: 992px) { ... }   // Large devices (desktops, 992px and up)
//@media (min-width: 1200px) { ... }  // Extra large devices (large desktops, 1200px and up)

#body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;

  .card {
    overflow: hidden;
    box-shadow: $card-box-shadow;
    border: 0;
    margin: 5vw;
    padding: 0;

    .card-body {
      margin: 0;
      padding: 0;

      .row {
        margin: 0;
        padding: 0;

        .col {
          margin: 0;
          padding: 0;

          &:first-child {
            display: none;

            @media (min-width: 768px) {
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
            }

            .bg-login-image {
              width: 40vw;
              height: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }

          &:last-child {
            margin: 50px 0;
            padding: 10px;
            text-align: center;

            h3 {
              font-size: $size-page-heading;
              color: $color-black;
              margin-top: $space-between * 3;
              margin-bottom: $space-between * 3;
            }

            .form-row {
              .form-group {
                margin: 0;

                .input-group {
                  padding: 0;

                  .input-group-item {
                    &:first-child {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      align-content: center;
                      width: 10%;
                      height: 42px;
                      border: $card-border-width solid $card-border-color;
                      border-radius: $card-border-radius;
                      border-top-right-radius: 0;
                      border-bottom-right-radius: 0;
                      background-color: $color-grey-hover;
                    }

                    &:last-child {
                      display: block;
                      width: 90%;
                      height: 42px;
                      padding: 10px;
                      border: $card-border-width solid $card-border-color;
                      border-radius: $card-border-radius;
                      border-left: 0;
                      border-top-left-radius: 0;
                      border-bottom-left-radius: 0;
                    }
                  }

                  .btn-submit {
                    width: 100%;
                  }
                }
              }
            }

            .div-links {
              text-align: center;
            }
          }
        }
      }
    }
  }
}