{% load cashboxtags %}

<html>
<form>
	<div class="table-responsive">
		<table class="table cart-table">
			<thead>
			<tr>
				<th>Position</th>
				<th>Anzahl</th>
				<th>Name</th>
				<th>Einzelpreis</th>
				<th>Gesamtpreis</th>
				<th>Entf.</th>
			</tr>
			</thead>
			<tbody>
				
				{% for instance in shoppingcart %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ instance|length }} x</td>
						<td>{{ instance.0 }}</td>
						<td>{{ instance.0.costs }} €</td>
						<td>{{ instance.0.costs|mult:instance}} €</td>
						
						
						
						<td>{{ instance.0.id }}</td>
						
						<td>

							<!-- <form method="POST"> {% csrf_token %}

								<input type="submit" value="Entfernen">


							</form> -->
							<a class="nav-link" name="value" href="{% url 'cashbox:delete' %}">Delete</a>



						</td>
					</tr>
				{% endfor %}
				
			<!-- <tr>
				<td>2</td>
				<td>1x</td>
				<td>D1</td>
				<td>19,99€</td>
				<td>19,99€</td>
				<td><a href="#"><i class="fa fa-remove"></i></a></td>
			</tr>
			<tr>
				<td>2</td>
				<td>11x</td>
				<td>H1</td>
				<td>19,99€</td>
				<td>429,9€</td>
				<td><a href="#"><i class="fa fa-remove"></i></a></td>
			</tr>
			<tr>
				<td>3</td>
				<td>1x</td>
				<td>D1</td>
				<td>19,99€</td>
				<td>19,99€</td>
				<td><a href="#"><i class="fa fa-remove"></i></a></td>
			</tr> -->
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col card-row">
			<div class="row">
				<div class="col-12">
					<p class="card-element">Insgesamt: {{ totalcosts }} €</p>
				</div>
				<div class="col-6">
					{{ form.payment }}
				</div>
				<div class="col-6">
					<form name="resetShoppingcart" action="{% url 'cashbox:cashbox_dashboard' %}" method="GET"> {% csrf_token %}

						<button type="submit" class="col-4 pattern-element">
							<input type="hidden" name="reset">
							<p class="product-name">Reset</p>

						</button>
					
					</form>
				</div>
				<div class="col-6">
					<a href="{% url 'cashbox:paymenttool_choose' %}" class="btn btn-primary">Zahlen</a>
				</div>
			</div>
		</div>
	</div>
</form>
</html>
