
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<!-- Head -->
{% block specific %}

	<title>Bezahlen</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/cashbox_navbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cashbox_pay.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cart-calculator.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/calculator.css' %}"/>
{% endblock specific %}


	{% block content %}

		<div class="content container-fluid">
			<div class="card">
				<div class="card-header">

					<form action="{% url 'cashbox:cashbox_dashboard' %}">
						<input type="submit" class="btn btn-primary btn-sm" value="Back" />
					</form>
					<!-- change this content -->
					{% block title %}
					<h3>{{ headline }}</h3>
					{% endblock %}
				</div>

				<div class="card-body">
					<div class="card-row-2 row">
						<div class="col-12">

							<div class="table-responsive table" id="dataTable-1" role="grid"
							     aria-describedby="dataTable_info">
								<table class="table" id="productsTable">
									<thead>
									<tr>
										<th>Datum</th>
										<th>Kosten</th>
										<th></th>
										<th></th>

									</tr>
									</thead>
									<tbody>

									{% for instance in object_list reversed %}
										<tr>
											<td>{{ instance.creation }}</td>
											<td>{{ instance.totalcosts }} €</td> 
											<td>{{ instance.id }}</td> 
											<td class="td-icons">
												<form method="POST"> {% csrf_token%}
													<input type="hidden" name="billId" value="{{ instance.id }}">
													<input type="submit" class="btn btn-primary btn-sm" value="Stornorechnung anlegen">
												</form>
												
											</td>
										</tr>
									{% endfor %}

									</tbody>
									<tfoot>
										<tr>
											<td><strong>Datum</strong></td>
											<td><strong>Kosten</strong></td>
											<td><strong></strong></td>
											<td><strong></strong></td>
										</tr>
									</tfoot>
									
								</table>
								<br>
								<h6>Man kann nur eine Stornorechung für eine Rechung erstellen</h6>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'js/administration_navbar.js' %}"></script>
{% endblock javascript %}

