{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<!-- Head -->
{% block specific %}
	<title>Kasse</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/cashbox_navbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cashbox_dashboard.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cart-calculator.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/calculator.css' %}"/>
{% endblock specific %}

<!-- Body -->
{% block navbar %}
	{% include 'new/cashbox_dashboard_navbar_copy.html' %}
{% endblock navbar %}

{% block content %}

	<section id="body">
		<div class="container">
			<div class="col-12">
				<div class="row pattern">

					<!-- {% for instance in object_list %}
						
						<form action="{% url 'cashbox:cashbox_dashboard' %}" method="POST"> {% csrf_token %}

							<button type="submit" class="col-4 pattern-element">
								<input type="hidden" id="productId" name="productId" value="{{ instance.id }}">
								<p class="product-name">{{ instance.title }}</p>
								<p class="product-description">{{ instance.description }}</p>
								<p class="product-price">{{ instance.costs }} €</p>
								<td>{% for instance in instance.category.all %}<p class="product-description">
						{{ instance }} €</p><br/>{% endfor %}</td>
								
							</button>
						
						</form>

					{% endfor %} -->


					<!-- 
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D2</p>
						<p class="product-description">Waschen, Schneiden</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D3</p>
						<p class="product-description">Waschen, Schneiden, Föhnen</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D4</p>
						<p class="product-description">Neuschnitt/Styling</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D5</p>
						<p class="product-description">Waschen, Einlegen</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D6</p>
						<p class="product-description">Waschen, Schneiden, Einlegen</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D1</p>
						<p class="product-description">Waschen, Föhnen inkl. Festiger + Spray</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D2</p>
						<p class="product-description">Waschen, Schneiden</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D3</p>
						<p class="product-description">Waschen, Schneiden, Föhnen</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D4</p>
						<p class="product-description">Neuschnitt/Styling</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D5</p>
						<p class="product-description">Waschen, Einlegen</p>
						<p class="product-price">19.99€</p>
					</a>
					<a href="#" class="col-4 pattern-element">
						<p class="product-name">D6</p>
						<p class="product-description">Waschen, Schneiden, Einlegen</p>
						<p class="product-price">19.99€</p>
					</a> -->
				</div>
				<div class="col-12">
					<h2>Produkte</h2>
					<br>
					{% for i in range %}
						<div class="row pattern">
							<br>
							{% for c in categories %}
								{% if forloop.counter == forloop.parentloop.counter %}
									<div class="col-12">
										<h5>{{ c }}</h5>
									</div>
									<br>
								{% endif %}
							{% endfor %}
							{% for list in productlist %}
								{% if forloop.counter == forloop.parentloop.counter %}
									<div class="col-12">
										<div class="row pattern">
											{% for instance in list %}
												<form action="{% url 'cashbox:cashbox_dashboard' %}" method="POST"
												      class="col-4 pattern-element"> {% csrf_token %}
													<button type="submit" class="product-button">
														<input type="hidden" id="productId" name="productId"
														       value="{{ instance.id }}">
														<h6 class="product-name">{{ instance.title }}</h6>
														<p class="product-description">{{ instance.description }}</p>
														<p class="product-price">{{ instance.costs }}€</p>
													</button>
												</form>
											{% endfor %}
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
					<h4>Sonstiges</h4>
					<div class="row pattern">
						{% for instance in sonstiges %}
							<div class="col-12">
								<div class="row pattern">
									<form action="{% url 'cashbox:cashbox_dashboard' %}" method="POST"
									      class="col-4 pattern-element"> {% csrf_token %}
										<button type="submit" class="product-button">
											<input type="hidden" id="productId" name="productId"
											       value="{{ instance.id }}">
											<h6 class="product-name">{{ instance.title }}</h6>
											<p class="product-description">{{ instance.description }}</p>
											<p class="product-price">{{ instance.costs }} €</p>
										</button>
									</form>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="container div-cart-calculator">
			<div class="row">
				<div class="col col-cart">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Warenkorb</h4>
							{% include 'new/cart_copy.html' %}
						</div>
					</div>
				</div>
				<div class="col col-calculator">
					<div class="row">
						<div class="col">
							<div role="tablist" id="accordion-calculator">
								<!-- <div class="card">
									<div class="card-header" role="tab">
										<a data-toggle="collapse" aria-expanded="false"
										   aria-controls="accordion-calculator .accordion-item"
										   href="#accordion-calculator .accordion-item">Taschenrechner</a>
									</div>
									<div class="collapse accordion-item" role="tabpanel"
									     data-parent="#accordion-calculator">
										<div class="card-body calculator">
											{% include 'calculator.html' %}
										</div>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'js/calculator.js' %}"></script>
{% endblock javascript %}