@import 'variables.scss';

// media-queries:
//@media (min-width: 576px) { ... }   // Small devices (landscape phones, 576px and up)
//@media (min-width: 768px) { ... }   // Medium devices (tablets, 768px and up)
//@media (min-width: 992px) { ... }   // Large devices (desktops, 992px and up)
//@media (min-width: 1200px) { ... }  // Extra large devices (large desktops, 1200px and up)

#body {
  .container-fluid {
    margin-bottom: $space-between;
  }

  .heading {
    margin-bottom: $space-between;

    @media (min-width: 576px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }

    h4 {
      margin-bottom: 0;
      font-size: $size-page-heading;
      color: $color-black;
    }

    .btn {
      @media (min-width: 576px) {
        display: inline-block;
      }

      i {
        color: $color-white;
      }
    }
  }

  .content {
    margin-bottom: $space-between;

    .card {
      box-shadow: $card-box-shadow;

      .card-header {
        p {
          font-size: $card-heading-font-size;
          font-weight: $card-heading-font-weight;
          color: $card-heading-color;
          margin-bottom: 0;
        }
      }

      .card-body {
        .card-row-1, .card-row-3 {
          div {
            padding: 10px;
            white-space: nowrap!important;

            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            @media (min-width: 576px) {
              &:first-child {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
              }

              &:last-child {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                align-content: center;
              }
            }

            .dataTables_length {
              label {
                margin: 0;

                select {
                  width: 80px;

                  option {

                  }
                }
              }
            }
          }
        }

        .card-row-2 {
          margin-top: .5rem!important;

          table {
            margin-bottom: 0;

            thead {
              tr {
                th {}
              }
            }

            tbody {
              tr {
                &:hover {
                  background-color: $color-grey-hover;
                }

                .td-icons {
                  a {
                    .fa {
                      font-size: $size-icon;
                    }

                    &:first-child {
                      padding-right: 10px;
                    }

                    &:last-child {
                      padding-left: 10px;
                    }
                  }
                }
              }
            }

            tfoot {
              tr {
                td {}
              }
            }
          }

          form {
            .form-row-string {
              div {
                .form-group {
                  .form-control {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    border: $card-border-width solid $card-border-color;
                    border-radius: $card-border-radius;
                  }
                }
              }
            }

            .form-row-img {
              div {
                .form-group {
                  .input-img {
                    display: block;
                    width: 100%;
                    padding: 5px;
                    border: $card-border-width solid $card-border-color;
                    border-radius: $card-border-radius;
                  }
                }
              }
            }

            .form-row-color-favorites {
              div {
                &:first-child {
                  .form-group {
                    .div-color {
                      display: block;
                      width: 100%;
                      padding: 5px;
                      border: $card-border-width solid $card-border-color;
                      border-radius: $card-border-radius;

                      .input-color-picker {
                        display: inline-block;
                        height: 30px;
                        width: 60px;
                        border: $card-border-width solid $card-border-color;
                        border-radius: $card-border-radius;
                      }

                      .paragraph-color-picker {
                        display: inline-block;
                        margin: 0;
                        padding: 5px;
                      }

                    }
                  }
                }

                &:last-child {
                  .form-group {
                    .div-favorites {
                      height: 46px;
                      padding: 5px;
                      border: $card-border-width solid $card-border-color;
                      border-radius: $card-border-radius;
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      align-content: center;

                      .input-favorite {}
                    }
                  }
                }
              }
            }

            .form-row-submit {
              margin-bottom: 1rem;

              div {
                .btn {
                  margin-left: 5px;
                  margin-right: 5px;
                }
              }
            }

            .form-row-alert {
              margin-bottom: 1rem;

              div {
                .alert-success {
                  background-color: $alert-background-color-success;
                  border-color: $alert-border-color-success;
                  border-width: $card-border-width;
                  border-radius: $card-border-radius;
                }

                .alert-warning {
                  background-color: $alert-background-color-warning;
                  border-color: $alert-border-color-warning;
                  border-width: $card-border-width;
                  border-radius: $card-border-radius;
                }

                .alert-danger {
                  background-color: $alert-background-color-danger;
                  border-color: $alert-border-color-danger;
                  border-width: $card-border-width;
                  border-radius: $card-border-radius;
                }

              }
            }
          }
        }
      }
    }
  }
}