@import 'variables.scss';

// media-queries:
//@media (min-width: 576px) { ... }   // Small devices (landscape phones, 576px and up)
//@media (min-width: 768px) { ... }   // Medium devices (tablets, 768px and up)
//@media (min-width: 992px) { ... }   // Large devices (desktops, 992px and up)
//@media (min-width: 1200px) { ... }  // Extra large devices (large desktops, 1200px and up)

#body {
  .container-fluid {
    margin-bottom: $space-between;
  }

  .heading {
    margin-bottom: $space-between;

    @media (min-width: 576px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }

    h4 {
      margin-bottom: 0;
      font-size: $size-page-heading;
      color: $color-black;
    }

    .btn {
      @media (min-width: 576px) {
        display: inline-block;
      }

      i {
        color: $color-white;
      }
    }
  }

  .content {
    margin-top: $space-between;

    .row-card {

      .col-card {
        margin-bottom: $space-between;

        .card {
          border: $card-border-width solid $card-border-color;
          border-radius: $card-border-radius;
          box-shadow: $card-box-shadow-analyst;
          padding-bottom: .5rem;

          .card-header {
            p {
              font-size: $card-heading-font-size;
              font-weight: $card-heading-font-weight;
              color: $card-heading-color;
              margin-bottom: 0;
            }
          }

          .card-body {

            .row {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              margin-right: 0;
              margin-left: 0;

              .col {
                margin-right: .5rem;

                .text-1 {
                  margin-bottom: .25rem;
                  text-transform: uppercase;
                  font-weight: $font-weight-bold;
                  font-size: $size-paragraph-big;
                  word-wrap: break-word;
                  line-height: 1.5;

                  span {
                    word-wrap: break-word;
                  }
                }

                .text-2 {
                  margin-bottom: 0;
                  font-weight: $font-weight-bold;
                  font-size: $size-paragraph-big;
                  word-wrap: break-word;
                  line-height: 1.5;

                  span {
                    word-wrap: break-word;
                  }
                }

                .cashbox-heading {
                  margin-bottom: .25rem;
                  text-transform: uppercase;
                  font-weight: $font-weight-bold;
                  //font-size: $size-header;
                  font-size: $size-paragraph-big;
                  word-wrap: break-word;
                  line-height: 1.75;

                  span {
                    word-wrap: break-word;
                  }
                }

                .text-3 {
                  margin-bottom: .25rem;
                  text-transform: uppercase;
                  font-weight: $font-weight-bold;
                  font-size: $size-paragraph-big;
                  word-wrap: break-word;
                  line-height: 1;

                  span {
                    word-wrap: break-word;
                  }
                }

                .text-4 {
                  margin-bottom: 0;
                  font-weight: $font-weight-bold;
                  font-size: $size-paragraph-big;
                  word-wrap: break-word;
                  line-height: 1;

                  span {
                    word-wrap: break-word;
                  }
                }

              }

              .col-auto {
                .fas {
                }

                .status-online {
                  color: #60dd49;
                }

                .status-offline {
                  color: #e5053a;
                }
              }
            }
          }
        }
      }
    }

    .row-chart {

      .col-chart {
        margin-bottom: $space-between;

        .card {
          border: $card-border-width solid $card-border-color;
          border-radius: $card-border-radius;
          box-shadow: $card-box-shadow-analyst;
          padding-bottom: .5rem;

          .card-header {
            p {
              font-size: $card-heading-font-size;
              font-weight: $card-heading-font-weight;
              color: $card-heading-color;
              margin-bottom: 0;
            }
          }

          .card-body {

            .row {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              align-items: center;
              flex-wrap: wrap;
              margin-right: 0;
              margin-left: 0;

              .col-filter {
                margin-bottom: 10px !important;

                .daterange-form {
                  display: flex !important;
                  flex-direction: column;
                  justify-content: center !important;
                  align-content: center !important;
                  align-items: center !important;
                  padding: 0 15px;
                  margin: 0 auto;
                  width: 447px;
                  min-width: 447px;
                  max-width: 447px;

                  .form-group {
                    display: block;
                    margin: 10px 5px;
                    padding: 0 15px;

                    .input-group {

                      .input-group-prepend {

                        .input-group-text {
                        }
                      }

                      .form-control {
                      }
                    }
                  }
                }

                .radio-form {
                  display: flex !important;
                  flex-direction: column;
                  justify-content: center !important;
                  align-content: center !important;
                  align-items: center !important;
                  margin: -20px auto;

                  .radio-form-div-1 {
                    padding: 0;
                    margin: 0;
                    height: 10vh;
                    width: 15vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .radio-form-div-2 {
                      background-color: white;
                      height: 40px;
                      width: 260px;
                      position: absolute;
                      //box-shadow: 0 0 30px 0px #d1d1d1;
                      border: .5px solid rgb(206, 212, 218);
                      border-radius: $card-border-radius;
                      overflow: hidden;

                      input[type="radio"] {
                        display: none;
                      }

                      label:hover {
                        cursor: pointer;
                      }

                      .label0, .label1 {
                        display: block;
                        height: 180px;
                        width: 130px;
                        background-size: 130px 180px;
                        background: linear-gradient(to bottom, white 0, white 90px, $links-color 90px, $links-color 180px);
                        position: absolute;
                        top: 0;
                        transition: 0.2s;
                        color: #2c2c2c;
                      }

                      .label1 {
                        right: 0;
                      }

                      span {
                        display: flex;
                        height: 45px;
                        width: 130px;
                        justify-content: center;
                        align-items: center;
                        font-weight: $font-weight-bold;
                      }

                      input:checked + label {
                        background-position: 0 -90px;
                        color: white;
                        transition: 0.2s;
                      }
                    }
                  }

                  // Select Day
                  .form-row {
                    width: 260px;
                    margin-top: -10px;

                    .form-group {

                      .input-group {
                        padding: 0;

                        .input-group-item {
                          &:first-child {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            width: 260px;
                            height: 42px !important;
                            border: $card-border-width solid $card-border-color;
                            border-radius: $card-border-radius;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            background-color: $color-grey-hover;
                          }
                        }

                        .btn-submit {
                          width: 100%;
                        }
                      }
                    }
                  }
                }

                .col-chart {
                  margin-right: .5rem;

                  .chart-area {
                    display: flex !important;
                    flex-direction: column !important;
                    justify-content: center !important;
                    align-content: center !important;
                    align-items: center !important;
                    overflow-x: scroll;

                    .chart-div {
                      display: flex !important;
                      flex-direction: column !important;
                      justify-content: center !important;
                      align-content: center !important;
                      align-items: center !important;

                      .chart {
                      }

                      .line-chart {
                      }

                      .bar-chart {
                      }

                      .pie-chart {
                      }

                      .doughnout-chart {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}