@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
.btn-primary {
  background-color: #007bff;
  color: #fff;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #00299C;
}
.btn-primary:active {
  background-color: #0043E0;
}
.btn-primary .fa {
  padding-left: 10px;
  padding-right: 10px;
}

body #body {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  body #body {
    flex-direction: row;
  }
}
body #body .container:nth-child(1) {
  order: 2;
}
@media (min-width: 992px) {
  body #body .container:nth-child(1) {
    order: 1;
  }
}
body #body .container:nth-child(1) .pattern {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body #body .container:nth-child(1) .pattern .pattern-element {
  height: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #000;
  text-align: center;
  text-decoration: none;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(1) {
  background-color: #8fc4f5;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(2) {
  background-color: #c580e6;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(3) {
  background-color: #f2c896;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(4) {
  background-color: #c6d7a1;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(5) {
  background-color: #f28b8b;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(6) {
  background-color: #8bf2ba;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(7) {
  background-color: #8fc4f5;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(8) {
  background-color: #c580e6;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(9) {
  background-color: #f2c896;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(10) {
  background-color: #c6d7a1;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(11) {
  background-color: #f28b8b;
}
body #body .container:nth-child(1) .pattern .pattern-element:nth-child(12) {
  background-color: #8bf2ba;
}
body #body .container:nth-child(1) .pattern .pattern-element:active, body #body .container:nth-child(1) .pattern .pattern-element:focus, body #body .container:nth-child(1) .pattern .pattern-element:hover {
  opacity: 0.7;
}
body #body .container:nth-child(1) .pattern .pattern-element .product-name {
  font-size: 1.5em;
}
body #body .container:nth-child(1) .pattern .pattern-element .product-description {
  font-size: 1em;
}
body #body .container:nth-child(1) .pattern .pattern-element .product-price {
  font-size: 1.3em;
}
body #body .container:nth-child(2) {
  order: 1;
}
@media (min-width: 992px) {
  body #body .container:nth-child(2) {
    order: 2;
  }
}

/*# sourceMappingURL=cashbox_dashboard.css.map */
