{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<!-- Head -->
{% block specific %}
<title>Login</title>

<link rel="stylesheet" type="text/css" href="{% static 'main/css/auth.css' %}" />
{% endblock specific %}

<!-- Body -->
{% block content %}
    <div class="container" id="body">
        <div class="card col-10">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="bg-login-image" style="background-image: url({% static 'main/img/dogs/image1.jpeg' %});"></div>
              </div>
              <div class="col">
                <h3>Login</h3>
                <form method="post">{% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col">
                          <div class="input-group">
                              <select class="form-control">
                                <optgroup label="Rolle auswählen">
                                    <option value="cashier" selected>Kassierer</option>
                                    <option value="admin">Admin</option>
                                    <option value="analyst">Analyst</option>
                                </optgroup>
                              </select>
                          </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                          <div class="input-group">
                              <span class="input-group-item"><i class="fas fa-user"></i></span>
                              <input class="input-group-item form-control" type="text" placeholder="Username" name="username">
                          </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                          <div class="input-group">
                              <span class="input-group-item"><i class="fas fa-key"></i></span>
                              <input class="input-group-item form-control" type="password" placeholder="Passwort" name="password">
                          </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                          <div class="input-group">
                              <button class="btn btn-primary btn-submit" type="submit">Login</button>
                          </div>
                        </div>
                    </div>

                    <hr>
                </form>
                <div class="div-links">
                    <a class="small" href="{% url 'forgot_password' %}">Passwort vergessen?</a>
                </div>
                <div class="div-links">
                    <a class="small" href="{% url 'change_password' %}">Passwort ändern.</a>
                </div>
                <div class="div-links">
                    <a class="small" href="{% url 'register' %}">Account beantragen.</a>
                </div>
              </div>
          </div>
        </div>
  </div>
{% endblock content %}