<h1>Ausstehende requests</h1>
{% for instance in object_list reversed %}
{% if instance.type == "AC" %}
<p>Account Anfrage für {{ instance.firstname }} {{ instance.lastname }}</p>
<p>Nutzername: {{ instance.username }} </p>
<p>Gruppe Administratoren: {{ instance.admin }}</p>
<p>Gruppe Analysten: {{ instance.analyst }}</p>
<p>Gruppe Kassierer: {{ instance.kassierer }}</p>
{% else %}
<p>Passwort zurücksetzen für {{ instance.firstname }} {{ instance.lastname }}</p>
<p>Nutzername: {{ instance.username }} </p>
{% endif %}				
<a href="">Annehmen</a>
<a href="{{ instance.get_delete_url }}">Ablehnen</a>
<p>--------------------------------</p>		
{% endfor %}

