<h1>Mehrere Gruppen vorhanden</h1>
<h3>Bitte ihre Tätigkeit auswählen</h3>

{% for instance in links %}

{% ifequal instance "AD" %}
    <form action="{% url 'administration:administration_dashboard' %}">
        <input type="submit" class="btn btn-primary btn-sm"  value="Administrator" />
    </form>
{% endifequal %}

{% ifequal instance "AN" %}
    <form action="{% url 'administration:product_list' %}">
        <input type="submit" class="btn btn-primary btn-sm"  value="Analyst" />
    </form>
{% endifequal %}


{% ifequal instance "KA" %}
    <form action="{% url 'administration:cashbox_list' %}">
        <input type="submit" class="btn btn-primary btn-sm"  value="Analyst" />
    </form>
{% endifequal %}
																				
{% endfor %}