

{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!-- Head -->
{% block specific %}
<title>Login</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/authorization.css' %}" />
{% endblock specific %}

{% block content %}

<div class="container" id="body">
    <div class="card col-12">
       <div class="card-body">
        <div class="row">
            <div class="col">
            <h1>Mehrere Gruppen vorhanden</h1>
            <h3>Bitte ihre Tätigkeit auswählen</h3>
            
            {% for instance in links %}

            <br>
            
            {% ifequal instance "AD" %}
                <form action="{% url 'administration:administration_dashboard' %}">
                    <input type="submit" class="btn btn-primary btn-sm"  value="Administrator" />
                </form>
            {% endifequal %}
            
            
            {% ifequal instance "AN" %}
                <form action="{% url 'administration:product_list' %}">
                    <input type="submit" class="btn btn-primary btn-sm"  value="Analyst" />
                </form>
            {% endifequal %}
            
            
            {% ifequal instance "KA" %}
                <form action="{% url 'administration:cashbox_list' %}">
                    <input type="submit" class="btn btn-primary btn-sm"  value="Analyst" />
                </form>
            {% endifequal %}
            
                                                                                            
            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>



{% endblock content %}