{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<!-- Head -->
{% block specific %}
	<title>Dashboard</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/administration_navbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/administration_styles.css' %}"/>
{% endblock specific %}

<!-- Body -->


{% block content %}
	<section id="body">
		<div class="heading container-fluid">
			<!-- change this content -->
			<h3>Produkte</h3>
			<a class="btn btn-primary" role="button" href="#">
				<i class="fas fa-download fa-sm"></i>&nbsp;
				<!-- change this content -->
				Alle Produkte ausdrucken</a>
		</div>
		<div class="content container-fluid">
			<div class="card">
				<div class="card-header">
					<!-- change this content -->
					<p>Produkte Übersicht</p>
				</div>
				<div class="card-body">
					<div class="card-row-1 row">
						<div class="col-12 col-sm-4">
							<div id="dataTable_length-1" class="dataTables_length" aria-controls="dataTable">
								<label>Show&nbsp;
									<select class="form-control form-control-sm custom-select custom-select-sm">
										<option value="10" selected>10</option>
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>&nbsp;
								</label>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="create_button">

								<form action="{% url 'administration:product_create' %}">
									<input class="btn btn-primary" type="submit" value="Produkt hinzufügen" />
								</form>
								
							</div>
						</div>

						<div class="col-12 col-sm-4">
							<div class="dataTables_filter" id="dataTable_filter-1">
								<label>
									<input type="search" class="form-control form-control-sm" aria-controls="dataTable"
									       placeholder="Suchen...">
								</label>
							</div>
						</div>
					</div>
					<div class="card-row-2 row">
						<div class="col-12">
							<!-- change this content -->
							<div class="table-responsive table" id="dataTable-1" role="grid"
							     aria-describedby="dataTable_info">
								<table class="table" id="productsTable">
									<thead>
									<tr>
										<th>Typ</th>
										<th>Name</th>
										<th>Marke</th>
										<th>Preis</th>
										<th>Bestand</th>
										<th>Eigenschaften</th>
										<th>Kategorien</th>
										<th>Gewicht</th>
										<th>Bild</th>
										<th>Steuersatz</th>
										<th>Bild</th>
										<th>Mehr</th>
									</tr>
									</thead>
									<tbody>

									{% for instance in object_list reversed %}
										<tr>
											<td>{{ instance.type }}</td>
											<td>{{ instance.title }}</td>
											<td>{{ instance.description }}</td>
											<td>{{ instance.brand }}</td>
											<td>{{ instance.costs }}</td>
											<td>{{ instance.stock }}</td>
											<td>{% for instance in instance.category.all %}{{ instance }}<br/>{% endfor %}</td>
											<td>{{ instance.attributes }}</td>
											<td>{{ instance.weight }}</td>
											<td>{{ instance.picture }}</td>
											<td>{{ instance.tax }}</td>
											<td>{{ instance.discount }}</td>
											<td>{{ instance.path }}</td>
											<td class="td-icons">
												<a href="{{ instance.get_update_url }}"><i
														class="fa fa-pencil"></i></a>
												<a href="{{ instance.get_delete_url }}"><i class="fa fa-remove"></i></a>
											</td>
										</tr>
									{% endfor %}

									</tbody>
									<tfoot>
									<tr>
										<td><strong>Typ</strong></td>
										<td><strong>Name</strong></td>
										<td><strong>Marke</strong></td>
										<td><strong>Preis</strong></td>
										<td><strong>Bestand</strong></td>
										<td><strong>Kategorien</strong></td>
										<td><strong>Eigenschaften</strong></td>
										<td><strong>Gewicht</strong></td>
										<td><strong>Bild</strong></td>
										<td><strong>Steuersatz</strong></td>
										<td><strong>Rabatt</strong></td>
										<td><strong>Mehr</strong></td>
									</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<div class="card-row-3 row">
						<div class="col-12 col-sm-6">
							<p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to
								10 of 27</p>
						</div>
						<div class="col-12 col-sm-6">
							<nav class="dataTables_paginate paging_simple_numbers">
								<ul class="pagination">
									<li class="page-item disabled">
										<a class="page-link" href="#" aria-label="Previous"><span
												aria-hidden="true">«</span></a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next"><span
												aria-hidden="true">»</span></a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'js/administration_navbar.js' %}"></script>
{% endblock javascript %}