{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<!-- Head -->
{% block specific %}
	<title>Dashboard</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/administration_navbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/administration_styles.css' %}"/>
{% endblock specific %}



{% block content %}

	<section id="body">
		<div class="heading container-fluid">
			<!-- change this content -->
			<h3>Produkte</h3>
			<a class="btn btn-primary" role="button" href="#">
				<i class="fas fa-download fa-sm"></i>&nbsp;
				<!-- change this content -->
				Dieses Produkt ausdrucken</a>
		</div>
		<div class="content container-fluid">
			<div class="card">
				<div class="card-header">

					<form action="{% url 'administration:attribute_list' %}">
						<input type="submit" value="Back" />
					</form>
					<!-- change this content -->
					{% block title %}
					<p>{{ headline }}</p>
					{% endblock %}
				</div>

				<div class="card-body">
					<div class="card-row-2 row">
						<div class="col-12">

							<form action="" method="POST" class="needs-validation"> {% csrf_token %}
									<div class="form-row form-row-string">
										<div class="col">
											<div class="form-group">
												<label for="attributes_title"><strong>{{ form.title.label }}</strong></label>
												<div class="input-group">
													{{ form.title }}
													<div class="invalid-feedback">
														{{ form.title.errors }}
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- <div class="form-row form-row-submit">
										<div class="col">
											<button class="btn btn-primary btn-sm" type="submit">Speichern</button>
											<button class="btn btn-primary btn-sm" type="submit">Löschen</button>
											<button class="btn btn-primary btn-sm" type="submit">Löschen bestätigen</button>
										</div>
									</div> -->
									<!-- <div class="form-row form-row-alert">
										<div class="col">
											<div class="alert alert-warning" role="alert"><span><strong>Zum Löschen, bitte bestätigen!</strong></span>
											</div>
										</div>
									</div>
									<div class="form-row form-row-alert">
										<div class="col">
											<div class="alert alert-success" role="alert"><span><strong>Settings is saved successfully!</strong></span>
											</div>
										</div>
									</div>
									<div class="form-row form-row-alert">
										<div class="col">
											<div class="alert alert-success" role="alert"><span><strong>Item is deleted successfully!</strong></span>
											</div>
										</div>
									</div>
									<div class="form-row form-row-alert">
										<div class="col">
											<div class="alert alert-danger" role="alert"><span><strong>Settings could not be saved!</strong></span>
											</div>
										</div>
									</div>
									<div class="form-row form-row-alert">
										<div class="col">
											<div class="alert alert-danger" role="alert"><span><strong>Item could not be deleted!</strong><br></span>
											</div>
										</div>
									</div> -->
								<input type="submit" class="btn btn-primary btn-sm" value="Speichern">
							</form>

								

								<!-- <form action="" method="POST"> {% csrf_token %}
									{{ form.as_p }}
									<input type="submit" value="Speichern">
								</form>



								<div class="form-row form-row-submit">
									
								</div> -->
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'js/administration_navbar.js' %}"></script>
{% endblock javascript %}