{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!-- Head -->
{% block specific %}
<title>Analyst - Kunden</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/analyzation_navbar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/analyzation_styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/toggle-switch.css' %}" />
{% endblock specific %}

<!-- Body -->
{% block navbar %}
    {% include 'analyzation_navbar.html' %}
{% endblock navbar %}

{% block content %}
<section id="body">
    <div class="heading container-fluid">
        <!-- change this content -->
        <h3>Kundenanalyse</h3>
    </div>
    <div class="content container-fluid">

        <!-- Sturmzeiten [line-chart] -->
        <div class="row-chart row">
          <div class="col-chart col-12">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart line-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Kundenart und Zahlungsmethode [doughnut-chart] -->
        <div class="row-chart row">
          <div class="col-chart col-12 col-md-6">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart doughnut-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-chart col-12 col-md-6">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <div class="chart-area">
                              <div class="chart doughnut-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Produkte Überblick (TOP-X Ranking => generell und nach Stammkunden) [bar-chart] -->
        <div class="row-chart row">
          <div class="col-chart col-12 col-md-6">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart bar-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-chart col-12 col-md-6">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart bar-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Dienstleistungen Überblick (TOP-X Ranking => generell und nach Stammkunden) [bar-chart] -->
        <div class="row-chart row">
          <div class="col-chart col-12 col-md-6">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart bar-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-chart col-12 col-md-6">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart bar-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

    </div>
</section>
{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>

<script type="text/javascript" src="{% static 'js/smart-forms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/analyzation_navbar.js' %}"></script>
{% endblock javascript %}