{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!-- Head -->
{% block specific %}
	<title>Analyst - Kunden</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/analyzation_navbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/analyzation_styles.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/lightpicker.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/chartjs.css' %}"/>
{% endblock specific %}

<!-- Body -->
{% block navbar %}
	{% include 'analyzation_navbar.html' %}
{% endblock navbar %}

{% block content %}
	<section id="body">
		<div class="heading container-fluid">
			<!-- change this content -->
			<h3>Kundenanalyse</h3>
		</div>
		<div class="content container-fluid">

			<!-- Stoßzeiten [line-chart] -->
			<div class="row-chart row">
				<div class="col-chart col-12">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Stoßzeiten Überblick</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-filter">
									<form id="" method="post" class="radio-form needs-validation">{% csrf_token %}
										<!-- In days or hours -->
										<div class="radio-form-div-1">
											<div class="radio-form-div-2">
												{% for radio in form.radioDAY %}
													{{ radio.tag }}
													<label for="{{ radio.id_for_label }}"
													       class="label{{ forloop.counter0 }}">
														<span>{{ radio }}</span>
													</label>
												{% endfor %}
											</div>
										</div>

										<!-- Select Day -->
										<div class="form-row" style="margin-top: 10px;">
											<div class="form-group col">
												<div class="input-group">
													{{ form.day }}
													<div class="invalid-feedback">
														{{ form.day.errors }}
													</div>
												</div>
											</div>
										</div>


										<!-- Submit -->
										<div class="form-group col-6">
											<button id="submit" name="stßztnfltr" value="1" class="btn btn-primary btn-block" type="submit">
												Filtern!
											</button>
										</div>

									</form>
								</div>
								<div class="col col-chart">
									<div class="chart-area" style="overflow-x: scroll;">
										<div class="chart-div line-chart"
										     style="position: relative; height:100%; width:100%; min-height:400px; min-width: 350px;">
											<canvas id="peakTimesChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Kundenart und Zahlungsmethode [doughnut-chart] -->
			<div class="row-chart row">
				<div class="col-chart col-12 col-md-6">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Kundenart Überblick</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col col-chart">
									<div class="chart-area" style="overflow-x: scroll;">
										<div class="chart-div doughnut-chart"
										     style="position: relative; height:100%; width:100%; min-height:400px; min-width: 350px;">
											<canvas id="customersChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-chart col-12 col-md-6">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Zahlungsmethode Überblick</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col col-chart">
									<div class="chart-area" style="overflow-x: scroll;">
										<div class="chart-div doughnut-chart"
										     style="margin: 0 auto; position: relative; height:100%; width:100%; min-height:400px; min-width: 500px;max-width: 595px;">
											<canvas id="paymentsChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Gefunden durch und Bewertung in Sternen [doughnut-chart] -->
			<div class="row-chart row">
				<div class="col-chart col-12 col-md-6">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Gefunden durch</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col col-chart">
									<div class="chart-area" style="overflow-x: scroll;">
										<div class="chart-div doughnut-chart"
										     style="position: relative; height:100%; width:100%; min-height:400px; min-width: 350px;">
											<canvas id="foundThroughChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-chart col-12 col-md-6">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Bewertung in Sternen</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col col-chart">
									<div class="chart-area" style="overflow-x: scroll;">
										<div class="chart-div doughnut-chart"
										     style="margin: 0 auto; position: relative; height:100%; width:100%; min-height:400px; min-width: 500px;max-width: 595px;">
											<canvas id="ratingChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Produkte Überblick (TOP-X Ranking => generell und nach Stammkunden) [bar-chart] -->
			<div class="row-chart row">
				<div class="col-chart col-12 col-md-6">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Produkte Überblick</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-filter" style="margin-bottom: 30px!important;">
									<form id="" method="post" class="radio-form needs-validation">{% csrf_token %}
										<!-- In days or hours -->
										<div class="radio-form-div-1">
											<div class="radio-form-div-2">
												{% for radio in form.radioTOP %}
													{{ radio.tag }}
													<label for="{{ radio.id_for_label }}"
													       class="label{{ forloop.counter0 }}">
														<span>{{ radio }}</span>
													</label>
												{% endfor %}
											</div>
										</div>

										<!-- Submit -->
										<div class="form-group col-6">
											<button id="submit" name="prdktfltr" value="1" class="btn btn-primary btn-block" type="submit">
												Filtern!
											</button>
										</div>

									</form>
								</div>
								<div class="col col-chart">
									<div class="chart-area" style="overflow-x: scroll;">
										<div class="chart-div bar-chart"
										     style="position: relative; height:100%; width:100%; min-height:400px; min-width: 350px;">
											<canvas id="products1ChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-chart col-12 col-md-6">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Produkte Überblick</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-filter" style="margin-bottom: 30px!important;">
									<form id="" method="post" class="radio-form needs-validation">{% csrf_token %}
										<!-- In days or hours -->
										<div class="radio-form-div-1">
											<div class="radio-form-div-2">
												{% for radio in form.radioTOP %}
													{{ radio.tag }}
													<label for="{{ radio.id_for_label }}"
													       class="label{{ forloop.counter0 }}">
														<span>{{ radio }}</span>
													</label>
												{% endfor %}
											</div>
										</div>

										<!-- Submit -->
										<div class="form-group col-6">
											<button id="submit" class="btn btn-primary btn-block" type="submit">
												Filtern!
											</button>
										</div>

									</form>
								</div>
								<div class="col col-chart">
									<div class="chart-area" style="overflow-x: scroll;">
										<div class="chart-div bar-chart"
										     style="position: relative; height:100%; width:100%; min-height:400px; min-width: 350px;">
											<canvas id="products2ChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Dienstleistungen Überblick (TOP-X Ranking => generell und nach Stammkunden) [bar-chart] -->
			<div class="row-chart row">
				<div class="col-chart col-12 col-md-6">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Dienstleistungen Überblick</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-filter" style="margin-bottom: 30px!important;">
									<form id="" method="post" class="radio-form needs-validation">{% csrf_token %}
										<!-- In days or hours -->
										<div class="radio-form-div-1">
											<div class="radio-form-div-2">
												{% for radio in form.radioTOP %}
													{{ radio.tag }}
													<label for="{{ radio.id_for_label }}"
													       class="label{{ forloop.counter0 }}">
														<span>{{ radio }}</span>
													</label>
												{% endfor %}
											</div>
										</div>

										<!-- Submit -->
										<div class="form-group col-6">
											<button id="submit" name="dnstlstngfltr" value="1" class="btn btn-primary btn-block" type="submit">
												Filtern!
											</button>
										</div>

									</form>
								</div>
								<div class="col col-chart">
									<div class="chart-area" style="overflow-x: scroll;">
										<div class="chart-div bar-chart"
										     style="position: relative; height:100%; width:100%; min-height:400px; min-width: 350px;">
											<canvas id="services1ChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-chart col-12 col-md-6">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Dienstleistungen Überblick</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-filter" style="margin-bottom: 30px!important;">
									<form id="" method="post" class="radio-form needs-validation">{% csrf_token %}
										<!-- In days or hours -->
										<div class="radio-form-div-1">
											<div class="radio-form-div-2">
												{% for radio in form.radioTOP %}
													{{ radio.tag }}
													<label for="{{ radio.id_for_label }}"
													       class="label{{ forloop.counter0 }}">
														<span>{{ radio }}</span>
													</label>
												{% endfor %}
											</div>
										</div>

										<!-- Submit -->
										<div class="form-group col-6">
											<button id="submit" class="btn btn-primary btn-block" type="submit">
												Filtern!
											</button>
										</div>

									</form>
								</div>
								<div class="col col-chart">
									<div class="chart-area" style="overflow-x: scroll;">
										<div class="chart-div bar-chart"
										     style="position: relative; height:100%; width:100%; min-height:400px; min-width: 350px;">
											<canvas id="services2ChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock content %}

{% block javascript %}
	<!-- DateRange -->
	<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lightpicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>

	<!-- ChartJS -->
	<script type="text/javascript" src="{% static 'js/chartjs.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/analyzation_navbar.js' %}"></script>
{% endblock javascript %}

<!-- Chart.js -->
{% block chart.js %}
	<script>

        // DATA
        const endpoint = '{% url "analyzation:api-customers-chart-data" %}'
        var peak_times_data = []
        var peak_times_chart_labels = []
        var peak_times_chart_legend = ''
        var peak_times_chart_x_axes = ''
        var peak_times_chart_y_axes = ''
        var customers_data = []
        var customers_chart_labels = []
        var customers_chart_legend = ''
        var payment_data = []
        var payment_chart_labels = []
        var payment_chart_legend = ''
        var found_through_data = []
        var found_through_chart_labels = []
        var found_through_chart_legend = ''
        var rating_data = []
        var rating_chart_labels = []
        var rating_chart_legend = ''
        var products_1_data = []
        var products_1_chart_labels = []
        var products_1_chart_legend = ''
        var products_1_chart_x_axes = ''
        var products_1_chart_y_axes = ''
        var products_2_data = []
        var products_2_chart_labels = []
        var products_2_chart_legend = ''
        var products_2_chart_x_axes = ''
        var products_2_chart_y_axes = ''
        var services_1_data = []
        var services_1_chart_legend = ''
        var services_1_chart_labels = []
        var services_1_chart_x_axes = ''
        var services_1_chart_y_axes = ''
        var services_2_data = []
        var services_2_chart_legend = ''
        var services_2_chart_labels = []
        var services_2_chart_x_axes = ''
        var services_2_chart_y_axes = ''
        var color_x = ''

        // COLORS
        var color_background = ['rgba(255,99,132,0.2)', 'rgba(61,236,245,0.2)', 'rgba(50,133,250,0.2)', 'rgba(243,211,131,0.2)', 'rgba(143,255,152,0.2)', 'rgba(50,133,250,0.2)', 'rgba(165,97,255,0.2)', 'rgba(243,211,131,0.2)', 'rgba(143,255,152,0.2)', 'rgba(254,177,249,0.2)', 'rgba(255,133,102,0.2)', 'rgba(243,211,131,0.2)', 'rgba(50,133,250,0.2)']
        var color_border = ['rgba(255,99,132,1)', 'rgba(61,236,245,1)', 'rgba(50,133,250,1)', 'rgba(243,211,131,1)', 'rgba(143,255,152,1)', 'rgba(50,133,250,1)', 'rgba(165,97,255,1)', 'rgba(243,211,131,1)', 'rgba(143,255,152,1)', 'rgba(254,177,249,1)', 'rgba(255,133,102,1)', 'rgba(243,211,131,1)', 'rgba(50,133,250,1)']


        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                peak_times_data = data.peak_times_data
                peak_times_chart_labels = data.peak_times_chart_labels
                peak_times_chart_legend = data.peak_times_chart_legend
                peak_times_chart_x_axes = data.peak_times_chart_x_axes
                peak_times_chart_y_axes = data.peak_times_chart_y_axes
                customers_data = data.customers_data
                customers_chart_labels = data.customers_chart_labels
                customers_chart_legend = data.customers_chart_legend
                payment_data = data.payment_data
                payment_chart_labels = data.payment_chart_labels
                payment_chart_legend = data.payment_chart_legend
                found_through_data = data.found_through_data
                found_through_chart_labels = data.found_through_chart_labels
                found_through_chart_legend = data.found_through_chart_legend
                rating_data = data.rating_data
                rating_chart_labels = data.rating_chart_labels
                rating_chart_legend = data.rating_chart_legend
                products_1_data = data.products_1_data
                products_1_chart_labels = data.products_1_chart_labels
                products_1_chart_legend = data.products_1_chart_legend
                products_1_chart_x_axes = data.products_1_chart_x_axes
                products_1_chart_y_axes = data.products_1_chart_y_axes
                products_2_data = data.products_2_data
                products_2_chart_labels = data.products_2_chart_labels
                products_2_chart_legend = data.products_2_chart_legend
                products_2_chart_x_axes = data.products_2_chart_x_axes
                products_2_chart_y_axes = data.products_2_chart_y_axes
                services_1_data = data.services_1_data
                services_1_chart_legend = data.services_1_chart_legend
                services_1_chart_labels = data.services_1_chart_labels
                services_1_chart_x_axes = data.services_1_chart_x_axes
                services_1_chart_y_axes = data.services_1_chart_y_axes
                services_2_data = data.services_2_data
                services_2_chart_legend = data.services_2_chart_legend
                services_2_chart_labels = data.services_2_chart_labels
                services_2_chart_x_axes = data.services_2_chart_x_axes
                services_2_chart_y_axes = data.services_2_chart_y_axes

                setChart()
                console.log(data)
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setChart() {

            // Stoßzeiten
            var peakTimesChartData = document.getElementById("peakTimesChartData");
            var peakTimesChart = new Chart(peakTimesChartData, {
                type: 'line',
                data: {
                    labels: peak_times_chart_labels,
                    datasets: [{
                        label: peak_times_chart_legend,
                        data: peak_times_data,
                        backgroundColor: color_background[0],
                        borderColor: color_border[0],
                        borderWidth: 1,
                        pointBackgroundColor: color_background[0],
                        pointBorderColor: color_border[0],
                        fill: true,
                        lineTension: 0.25
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: peak_times_chart_legend,
                        fontSize: 14,
                    },
                    legend: {
                        display: false,
                        labels: {
                            padding: 20,
                            boxWidth: 45,
                            fontSize: 14,
                        },
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: peak_times_chart_x_axes
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: peak_times_chart_y_axes
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            // Kundenart
            var customersChartData = document.getElementById("customersChartData");
            var customersChart = new Chart(customersChartData, {
                type: 'doughnut',
                data: {
                    labels: customers_chart_labels,
                    datasets: [{
                        label: customers_chart_legend,
                        data: customers_data,
                        backgroundColor: [
                            color_background[0],
                            color_background[1],
                            color_background[2],
                            color_background[3],
                            color_background[4]
                        ],
                        borderColor: [
                            color_border[0],
                            color_border[1],
                            color_border[2],
                            color_border[3],
                            color_border[4]
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: false,
                        text: customers_chart_legend,
                        fontSize: 14,
                    },
                    legend: {
                        display: true,
                        position: 'right'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    cutoutPercentage: 40,
                    rotation: -0.5 * Math.PI
                }
            });

            // Zahlungsmethode
            // config
            var paymentsChartData = document.getElementById("paymentsChartData");
            var paymentsChart = new Chart(paymentsChartData, {
                type: 'doughnut',
                data: {
                    labels: payment_chart_labels,
                    datasets: [{
                        label: payment_chart_legend,
                        data: payment_data,
                        backgroundColor: getBackgroundColor(payment_data),
                        borderColor: getBorderColor(payment_data),
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: false,
                        text: payment_chart_legend,
                        fontSize: 14,
                    },
                    legend: {
                        display: true,
                        position: 'right'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    cutoutPercentage: 40,
                    rotation: -0.5 * Math.PI
                }
            });

            // Gefunden durch
            var foundThroughChartData = document.getElementById("foundThroughChartData");
            var foundThroughChart = new Chart(foundThroughChartData, {
                type: 'doughnut',
                data: {
                    labels: found_through_chart_labels,
                    datasets: [{
                        label: found_through_chart_legend,
                        data: found_through_data,
                        backgroundColor: getBackgroundColor(found_through_data),
                        borderColor: getBorderColor(found_through_data),
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: false,
                        text: found_through_chart_legend,
                        fontSize: 14,
                    },
                    legend: {
                        display: true,
                        position: 'right'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    cutoutPercentage: 40,
                    rotation: -0.5 * Math.PI
                }
            });

            // Bewertung in Sternen
            var ratingChartData = document.getElementById("ratingChartData");
            var ratingChart = new Chart(ratingChartData, {
                type: 'doughnut',
                data: {
                    labels: rating_chart_labels,
                    datasets: [{
                        label: rating_chart_legend,
                        data: rating_data,
                        backgroundColor: [
                            color_background[0],
                            color_background[1],
                            color_background[2],
                            color_background[3],
                            color_background[4],
                            color_background[6]
                        ],
                        borderColor: [
                            color_border[0],
                            color_border[1],
                            color_border[2],
                            color_border[3],
                            color_border[4],
                            color_border[6]
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: false,
                        text: rating_chart_legend,
                        fontSize: 14,
                    },
                    legend: {
                        display: true,
                        position: 'right'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    cutoutPercentage: 40,
                    rotation: -0.5 * Math.PI
                }
            });

            // Produkte - Alle
            var products1ChartData = document.getElementById("products1ChartData");
            var productsChart1 = new Chart(products1ChartData, {
                type: 'bar',
                data: {
                    labels: products_1_chart_labels,
                    datasets: [{
                        label: products_1_chart_legend,
                        data: products_1_data,
                        backgroundColor: [
                            color_background[0],
                            color_background[1],
                            color_background[2],
                            color_background[3],
                            color_background[4],
                            color_background[5],
                            color_background[6],
                            color_background[7],
                            color_background[8],
                            color_background[9]
                        ],
                        borderColor: [
                            color_border[0],
                            color_border[1],
                            color_border[2],
                            color_border[3],
                            color_border[4],
                            color_border[5],
                            color_border[6],
                            color_border[7],
                            color_border[8],
                            color_border[9]
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: products_1_chart_legend,
                        fontSize: 14,
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: products_1_chart_x_axes
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: products_1_chart_y_axes
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            // Produkte - Stammkunden
            var products2ChartData = document.getElementById("products2ChartData");
            var productsChart2 = new Chart(products2ChartData, {
                type: 'bar',
                data: {
                    labels: products_2_chart_labels,
                    datasets: [{
                        label: products_2_chart_legend,
                        data: products_2_data,
                        backgroundColor: [
                            color_background[0],
                            color_background[1],
                            color_background[2],
                            color_background[3],
                            color_background[4],
                            color_background[5],
                            color_background[6],
                            color_background[7],
                            color_background[8],
                            color_background[9]
                        ],
                        borderColor: [
                            color_border[0],
                            color_border[1],
                            color_border[2],
                            color_border[3],
                            color_border[4],
                            color_border[5],
                            color_border[6],
                            color_border[7],
                            color_border[8],
                            color_border[9]
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: products_2_chart_legend,
                        fontSize: 14,
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: products_2_chart_x_axes
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: products_2_chart_y_axes
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            // Dienstleistungen - Alle
            var services1ChartData = document.getElementById("services1ChartData");
            var servicesChart1 = new Chart(services1ChartData, {
                type: 'bar',
                data: {
                    labels: services_1_chart_labels,
                    datasets: [{
                        label: services_1_chart_legend,
                        data: services_1_data,
                        backgroundColor: [
                            color_background[0],
                            color_background[1],
                            color_background[2],
                            color_background[3],
                            color_background[4],
                            color_background[5],
                            color_background[6],
                            color_background[7],
                            color_background[8],
                            color_background[9]
                        ],
                        borderColor: [
                            color_border[0],
                            color_border[1],
                            color_border[2],
                            color_border[3],
                            color_border[4],
                            color_border[5],
                            color_border[6],
                            color_border[7],
                            color_border[8],
                            color_border[9]
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: services_1_chart_legend,
                        fontSize: 14,
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: services_1_chart_x_axes
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: services_1_chart_y_axes
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            // Dienstleistungen - Stammkunden
            var services2ChartData = document.getElementById("services2ChartData");
            var servicesChart2 = new Chart(services2ChartData, {
                type: 'bar',
                data: {
                    labels: services_2_chart_labels,
                    datasets: [{
                        label: services_2_chart_legend,
                        data: services_2_data,
                        backgroundColor: [
                            color_background[0],
                            color_background[1],
                            color_background[2],
                            color_background[3],
                            color_background[4],
                            color_background[5],
                            color_background[6],
                            color_background[7],
                            color_background[8],
                            color_background[9]
                        ],
                        borderColor: [
                            color_border[0],
                            color_border[1],
                            color_border[2],
                            color_border[3],
                            color_border[4],
                            color_border[5],
                            color_border[6],
                            color_border[7],
                            color_border[8],
                            color_border[9]
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: services_2_chart_legend,
                        fontSize: 14,
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: services_2_chart_x_axes
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: services_2_chart_y_axes
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }

        function random_color() {
            var x = Math.floor(Math.random() * 256);
            var y = Math.floor(Math.random() * 256);
            var z = Math.floor(Math.random() * 256);
            var bgColor = "rgb(" + x + "," + y + "," + z + ",";
            return bgColor;
        }

        function getBackgroundColor(dataset) {
            var backgroundColors = []
            dataset.forEach(function (a, i) {
                if (color_background.length >= dataset.length && color_border.length >= dataset.length) {
                    backgroundColors.push(color_background[i]);
                } else {
                    // if no more color is available
                    bgC = random_color();
                    color_x = bgC;
                    bgC += '0.2)';
                    backgroundColors.push(bgC);
                }
            });
            return backgroundColors;
        }

        function getBorderColor(dataset) {
            var borderColors = []
            dataset.forEach(function (a, i) {
                if (color_background.length >= dataset.length && color_border.length >= dataset.length) {
                    borderColors.push(color_border[i]);
                } else {
                    // if no more color is available
                    bC = color_x;
                    bC += '1)';
                    borderColors.push(bC);
                }
            });
            return borderColors;
        }
	</script>
{% endblock chart.js %}