{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!-- Head -->
{% block specific %}
<title>Analyst - Umsatz</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/analyzation_navbar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/analyzation_styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/toggle-switch.css' %}" />
{% endblock specific %}

<!-- Body -->
{% block navbar %}
    {% include 'analyzation_navbar.html' %}
{% endblock navbar %}

{% block content %}
<section id="body">
    <div class="heading container-fluid">
        <!-- change this content -->
        <h3>Umsatzanalyse</h3>
    </div>
    <div class="content container-fluid">

        <!-- Einnahmen (Monat, Woche, Heute) [card] -->
        <div class="row-card row">
          <div class="col-card col-12 col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="text-1"><span>Einnahmen (Monat)</span></div>
                    <div class="text-2"><span>40.000€</span></div>
                  </div>
                  <div class="col-auto"><i class="fas fa-euro-sign fa-2x"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-card col-12 col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="text-1"><span>Einnahmen (Woche)</span></div>
                    <div class="text-2"><span>40.000€</span></div>
                  </div>
                  <div class="col-auto"><i class="fas fa-euro-sign fa-2x"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-card col-12 col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="text-1"><span>Einnahmen (Heute)</span></div>
                    <div class="text-2"><span>40,000€</span></div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-euro-sign fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Produkte, Dienstleistungen, Kunden (Heute) [card] -->
        <div class="row-card row">
          <div class="col-card col-12 col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="text-1"><span>Produkte (Heute)</span></div>
                    <div class="text-2"><span>40.000€</span></div>
                  </div>
                  <div class="col-auto"><i class="fas fa-tags fa-2x"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-card col-12 col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="text-1"><span>Dienstleistungen (Heute)</span></div>
                    <div class="text-2"><span>40.000€</span></div>
                  </div>
                  <div class="col-auto"><i class="fas fa-hands-helping fa-2x"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-card col-12 col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="text-1"><span>Kunden (Heute)</span></div>
                    <div class="text-2"><span>40,000€</span></div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-users fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Umsatz Überblick [line-chart] -->
        <div class="row-chart row">
          <div class="col-chart col-12">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart line-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Produkte Überblick und Dienstleistungen Überblick (TOP-X Ranking) [bar-chart] -->
        <div class="row-chart row">
          <div class="col-chart col-12 col-md-6">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart bar-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-chart col-12 col-md-6">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart bar-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Kassen (Online-Status, Mitarbeitername, Kasseninhalt) [card] -->
        <div class="row-card row">
          <div class="col-card col-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="cashbox-heading"><span>Kasse #1</span></div>
                    <div class="text-3"><span>Mitarbeitername 1</span></div>
                    <div class="text-4"><span>40.000€</span></div>
                  </div>
                  <div class="col-auto"><i class="fas fa-circle fa-2x status-online"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-card col-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="cashbox-heading"><span>Kasse #2</span></div>
                    <div class="text-3"><span>Mitarbeitername 2</span></div>
                    <div class="text-4"><span>40.000€</span></div>
                  </div>
                  <div class="col-auto"><i class="fas fa-circle fa-2x status-online"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-card col-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="cashbox-heading"><span>Kasse #3</span></div>
                    <div class="text-3"><span>-</span></div>
                    <div class="text-4"><span>-</span></div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-circle fa-2x status-offline"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Zahlungsmethoden [doughnut-chart] -->
        <div class="row-chart row">
          <div class="col-chart col-12">
            <div class="card">
              <div class="card-header">
              <!-- change this content -->
              <p>Umsatz Überblick</p>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col col-chart">
                          <div class="chart-area">
                              <div class="chart doughnut-chart">
                                  <canvas height="200" width="200"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Sturmzeiten [line-chart] -->
    </div>
</section>
{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>

<script type="text/javascript" src="{% static 'js/smart-forms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/analyzation_navbar.js' %}"></script>
{% endblock javascript %}