{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!-- Head -->
{% block specific %}
	<title>Analyst - Mitarbeiter</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/analyzation_navbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/analyzation_styles.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/lightpicker.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/chartjs.css' %}"/>
{% endblock specific %}

<!-- Body -->
{% block navbar %}
	{% include 'analyzation_navbar.html' %}
{% endblock navbar %}

{% block content %}
	<section id="body">
		<div class="heading container-fluid">
			<!-- change this content -->
			<h3>Mitarbeiteranalyse</h3>
		</div>
		<div class="content container-fluid">

			<!-- Kassen (Online-Status, Mitarbeitername, Kasseninhalt) [card] -->
			<div class="row-card row">
				<div class="col-card col-12 col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="cashbox-heading"><span>Kasse #1</span></div>
									<div class="text-3"><span>Mitarbeitername 1</span></div>
									<div class="text-4"><span>40.000€</span></div>
								</div>
								<div class="col-auto"><i class="fas fa-circle fa-2x status-online"></i></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-card col-12 col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="cashbox-heading"><span>Kasse #2</span></div>
									<div class="text-3"><span>Mitarbeitername 2</span></div>
									<div class="text-4"><span>40.000€</span></div>
								</div>
								<div class="col-auto"><i class="fas fa-circle fa-2x status-online"></i></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-card col-12 col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="cashbox-heading"><span>Kasse #3</span></div>
									<div class="text-3"><span>-</span></div>
									<div class="text-4"><span>-</span></div>
								</div>
								<div class="col-auto">
									<i class="fas fa-circle fa-2x status-offline"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Mitarbeiterzeiten [line-chart] -->
			<div class="row-chart row">
				<div class="col-chart col-12">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Mitarbeiterzeiten Überblick</p>
						</div>
						<div class="card-body" style="overflow-x: scroll;">
							<div class="row">
								<div class="col-12 col-filter">
									<form id="" method="post" class="daterange-form needs-validation">{% csrf_token %}
										<!-- Daterange -->
										<div class="form-group date-select col">
											<div class="input-group input-daterange">
												<div class="input-group-prepend">
													<span class="input-group-text">Zeitraum</span>
												</div>
												<!--
                                              <input class="form-control" type="text" id="dateRangePicker" placeholder="18.08.2020 - 23.08.2020">
                                                -->
												{{ form.dateRange1 }}
												<div class="invalid-feedback">
													{{ form.dateRange1.errors }}
												</div>
											</div>
										</div>

										<!-- Submit -->
										<div class="form-group col-6">
											<button id="submit-dateRange" name=mtrbtr_ztn value=1
											        class="btn btn-primary btn-block"
											        type="submit">Filtern!
											</button>
										</div>
									</form>
								</div>
								<div class="col col-chart">
									<div class="chart-area">
										<div class="chart-div line-chart"
										     style="position: relative; height:100%; width:100%; min-height:400px; min-width: 350px;">
											<canvas id="employeesTimesChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Mitarbeiterumsatz [line-chart] -->
			<div class="row-chart row">
				<div class="col-chart col-12">
					<div class="card">
						<div class="card-header">
							<!-- change this content -->
							<p>Mitarbeiterumsatz Überblick</p>
						</div>
						<div class="card-body" style="overflow-x: scroll;">
							<div class="row">
								<div class="col-12 col-filter">
									<form id="" method="post" class="daterange-form needs-validation">{% csrf_token %}
										<!-- Daterange -->
										<div class="form-group date-select col">
											<div class="input-group input-daterange">
												<div class="input-group-prepend">
													<span class="input-group-text">Zeitraum</span>
												</div>
												<!--
                                              <input class="form-control" type="text" id="dateRangePicker" placeholder="18.08.2020 - 23.08.2020">
                                                -->
												{{ form.dateRange2 }}
												<div class="invalid-feedback">
													{{ form.dateRange2.errors }}
												</div>
											</div>
										</div>

										<!-- Submit -->
										<div class="form-group col-6">
											<button id="submit-dateRange" name=mtrbtr_mstz value=1
											        class="btn btn-primary btn-block"
											        type="submit">Filtern!
											</button>
										</div>
									</form>
								</div>
								<div class="col col-chart">
									<div class="chart-area">
										<div class="chart-div line-chart"
										     style="position: relative; height:100%; width:100%; min-height:400px; min-width: 350px;">
											<canvas id="employeesRevenueChartData" class="chart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock content %}

{% block javascript %}
	<!-- DateRange -->
	<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lightpicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>

	<!-- ChartJS -->
	<script type="text/javascript" src="{% static 'js/chartjs.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/analyzation_navbar.js' %}"></script>
{% endblock javascript %}

<!-- Chart.js -->
{% block chart.js %}
	<script>

        // DATA
        const endpoint = '{% url "analyzation:api-employees-chart-data" %}'
        var employee_times_data = []
        var employee_times_labels = []
        var employee_times_chart_labels = []
        var employee_times_chart_legend = ''
        var employee_times_x_axes = ''
        var employee_times_y_axes = ''
        var employee_revenue_data = []
        var employee_revenue_labels = []
        var employee_revenue_chart_labels = []
        var employee_revenue_chart_legend = ''
        var employee_revenue_x_axes = ''
        var employee_revenue_y_axes = ''

        var labels = []



        var employee_times_data_usernames = []
        var employee_times_data_labels = []
        var employee_times_data_labels_days = []
        var employee_times_data_username_days = []
        var employee_times_data_username_hours = []
        var employees_times_data_hours_raw = []
        var employees_times_data_hours = []
        var employee = {{ employee_data|safe }}


        var employee_revenue_data_usernames = []
        var employee_revenue_data_labels = []
        var employee_revenue_data_labels_days = []
        var employee_revenue_data_username_days = []
        var employee_revenue_data_username_hours = []
        var employees_revenue_data_hours_raw = []
        var employees_revenue_data_hours = []
        var employee2 = {{ employee_revenue_data|safe }}


        // mitarbeiterzeiten
        for (let i = 0; i < employee.length; i++) {
            employee_times_data_usernames.push(employee[i][0])

            let some_labels = []
            let some_hours = []
            employees_times_data_hours_raw = []

            for (let k = 0; k < employee[i][1].length; k++) {
                some_labels.push(employee[i][1][k][0])
                some_hours.push(employee[i][1][k][1])
            }

            employee_times_data_username_days.push(some_labels)
            employee_times_data_username_hours.push(some_hours)

        }

        // mitarbeiterumsatz
        for (let i = 0; i < employee2.length; i++) {
            employee_revenue_data_usernames.push(employee2[i][0])

            let some_labels = []
            let some_hours = []
            employees_revenue_data_hours_raw = []

            for (let k = 0; k < employee2[i][1].length; k++) {
                some_labels.push(employee2[i][1][k][0])
                some_hours.push(employee2[i][1][k][1])
            }

            employee_revenue_data_username_days.push(some_labels)
            employee_revenue_data_username_hours.push(some_hours)

        }

        console.log('zeiten')
        console.log({{ employee_data|safe }})
        console.log('usernames')
        console.log(employee_times_data_usernames)
        console.log('labels')
        console.log(employee_times_data_username_days)
        console.log('hours')
        console.log(employee_times_data_username_hours)


        console.log(' ')
        console.log(' ')
        console.log(' ')

        //var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var days = ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'];
        var weekdays = ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag']

        var counter = new Date().getDay();

        for (let i = 0; i < 7; i++) {
            if (counter < 7) {
                labels.push(weekdays[counter]);
            } else {
                counter -= 7;
                labels.push(weekdays[counter]);
            }
            counter++;
        }

        console.log(labels)

        // mitarbeiterzeiten
        for (let i = 0; i < employee_times_data_usernames.length; i++) {
	        let tmpHours = []

            for (let k = 0; k < labels.length; k++) {

                let boolean = false;
				let getHours = 0.00;

                for (let m = 0; m < employee_times_data_username_hours[i].length; m++) {
                    if (days[new Date(employee_times_data_username_days[i][m]).getDay()] === labels[k]) {
                        boolean = true;

                        if (Math.round(parseFloat((employee_times_data_username_hours[i][m].slice(7, 8)).replace(':', '.')) / 10) < 1) {
                            getHours = parseFloat((employee_times_data_username_hours[i][m].slice(0, 5)).replace(':', '.'))
                        } else {
                            getHours = parseFloat((employee_times_data_username_hours[i][m].slice(0, 5)).replace(':', '.')) + 0.01;
                        }

                        break;
                    }
                }

                if (boolean) {
                    tmpHours.push(getHours);

                } else {
	                tmpHours.push(0.00);
	            }
            }
            employees_times_data_hours.push(tmpHours);
        }

        // mitarbeiterumsatz
        for (let i = 0; i < employee_revenue_data_usernames.length; i++) {
	        let tmpRevenue = []

            for (let k = 0; k < labels.length; k++) {

                let boolean = false;
				let getHours = 0.00;

                for (let m = 0; m < employee_revenue_data_username_hours[i].length; m++) {
                    if (days[new Date(employee_revenue_data_username_days[i][m]).getDay()] === labels[k]) {
                        boolean = true;

                        if (Math.round(employee_revenue_data_username_hours[i][m] / 10) < 1) {
                            getHours = employee_revenue_data_username_hours[i][m];
                        } else {
                            getHours = employee_revenue_data_username_hours[i][m] + 0.01;
                        }

                        break;
                    }
                }

                if (boolean) {
                    tmpRevenue.push(getHours);

                } else {
	                tmpRevenue.push(0.00);
	            }
            }
            employees_revenue_data_hours.push(tmpRevenue);
        }






        console.log('')
        console.log('')
        console.log('')
        console.log(employees_times_data_hours)


        console.log(' ')
        console.log(' ')



        // COLORS
        var color_background = ['rgba(255,99,132,0.2)', 'rgba(61,236,245,0.2)', 'rgba(50,133,250,0.2)', 'rgba(243,211,131,0.2)', 'rgba(143,255,152,0.2)', 'rgba(50,133,250,0.2)', 'rgba(165,97,255,0.2)', 'rgba(243,211,131,0.2)', 'rgba(143,255,152,0.2)', 'rgba(254,177,249,0.2)', 'rgba(255,133,102,0.2)', 'rgba(243,211,131,0.2)', 'rgba(50,133,250,0.2)']
        var color_border = ['rgba(255,99,132,1)', 'rgba(61,236,245,1)', 'rgba(50,133,250,1)', 'rgba(243,211,131,1)', 'rgba(143,255,152,1)', 'rgba(50,133,250,1)', 'rgba(165,97,255,1)', 'rgba(243,211,131,1)', 'rgba(143,255,152,1)', 'rgba(254,177,249,1)', 'rgba(255,133,102,1)', 'rgba(243,211,131,1)', 'rgba(50,133,250,1)']


        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
				/*
                employee_times_data = data.employee_times_data
                employee_times_labels = data.employee_times_labels
                employee_times_chart_labels = data.employee_times_chart_labels
                employee_times_chart_legend = data.employee_times_chart_legend
                employee_times_x_axes = data.employee_times_x_axes
                employee_times_y_axes = data.employee_times_y_axes
*/
                employee_revenue_data = data.employee_revenue_data
                employee_revenue_labels = data.employee_revenue_labels
                employee_revenue_chart_labels = data.employee_revenue_chart_labels
                employee_revenue_chart_legend = data.employee_revenue_chart_legend
                employee_revenue_x_axes = data.employee_revenue_x_axes
                employee_revenue_y_axes = data.employee_revenue_y_axes

                setChart()
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setChart() {

            // Mitarbeiterzeiten
            // config
            var config_employee_times_chart = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: []
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: '{{ employee_times_chart_legend|safe }}',
                        fontSize: 14,
                    },
                    legend: {
                        display: true,
                        labels: {
                            padding: 20,
                            boxWidth: 45,
                            fontSize: 14,
                        },
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '{{ employee_times_x_axes|safe }}'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '{{ employee_times_y_axes|safe }}'
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };
            // define chart
            var employeesTimesChartData = document.getElementById('employeesTimesChartData').getContext('2d');
            window.employeesTimesChartData = new Chart(employeesTimesChartData, config_employee_times_chart);
            // fill chart
            employee_times_data_usernames.forEach(function (a, i) {

                if (color_background.length >= employee_times_data_usernames.length && color_border.length >= employee_times_data_usernames.length) {
                    var newDataset = {
                        label: employee_times_data_usernames[i],
                        backgroundColor: color_background[i],
                        borderColor: color_border[i],
                        data: employees_times_data_hours[i],
                        fill: true,
                    };
                } else {
                    // if no more color is available
                    bgC = random_color();
                    bC = bgC;
                    bgC += '0.2)';
                    bC += '1)';

                    var newDataset = {
                        label: employee_times_data_usernames[i],
                        backgroundColor: bgC,
                        borderColor: bC,
                        data: employees_times_data_hours[i],
                        fill: true,
                    };
                }

                newDataset.data.push(employees_times_data_hours[i]);

                config_employee_times_chart.data.datasets.push(newDataset);
                window.employeesTimesChartData.update();
            });

            // Mitarbeiterumsatz
            // config
            var config_employee_revenue_chart = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: []
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: '{{ employee_revenue_chart_legend|safe }}',
                        fontSize: 14,
                    },
                    legend: {
                        display: true,
                        labels: {
                            padding: 20,
                            boxWidth: 45,
                            fontSize: 14,
                        },
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '{{ employee_revenue_x_axes|safe }}'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '{{ employee_revenue_y_axes|safe }}'
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };
            // define chart
            var employeesRevenueChartData = document.getElementById('employeesRevenueChartData').getContext('2d');
            window.employeesRevenueChartData = new Chart(employeesRevenueChartData, config_employee_revenue_chart);
            // fill chart
            employee_revenue_data_usernames.forEach(function (a, i) {

                if (color_background.length >= employee_revenue_data_usernames.length && color_border.length >= employee_revenue_data_usernames.length) {
                    var newDataset = {
                        label: employee_revenue_data_usernames[i],
                        backgroundColor: color_background[i],
                        borderColor: color_border[i],
                        data: employees_revenue_data_hours[i],
                        fill: true,
                    };
                } else {
                    // if no more color is available
                    bgC = random_color();
                    bC = bgC;
                    bgC += '0.2)';
                    bC += '1)';

                    var newDataset = {
                        label: employee_revenue_data_usernames[i],
                        backgroundColor: bgC,
                        borderColor: bC,
                        data: employees_revenue_data_hours[i],
                        fill: true,
                    };
                }

                newDataset.data.push(employee_revenue_data[i]);

                config_employee_revenue_chart.data.datasets.push(newDataset);
                window.employeesRevenueChartData.update();
            });

        }

        function random_color() {
            var x = Math.floor(Math.random() * 256);
            var y = Math.floor(Math.random() * 256);
            var z = Math.floor(Math.random() * 256);
            var bgColor = "rgb(" + x + "," + y + "," + z + ",";
            return bgColor;
        }
	</script>
{% endblock chart.js %}