<header id="header">
    <nav class="navbar navbar-light navbar-expand-xl" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'administration_dashboard' %}">Kassensystem</a>
        <button data-toggle="collapse" class="navbar-toggler" id="burger-button" data-target="#navcol-1" style="border-style: none;">
          <span class="sr-only">Toggle navigation</span>
          <div class="animated-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav">
            <li class="nav-item d-flex justify-content-center align-items-center align-content-center" role="presentation" style="padding: 10px;width: 194px;min-width: 194px;max-width: 194px;">
              <div class="nav-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Sortimentverwaltung</a>
                <div class="dropdown-menu" role="menu" style="border-radius: 0;border-style: none;border-left: 2px solid rgba(0,0,0,0.5) ;">
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_products' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Produkte</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_services' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Dienstleistungen</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_categories' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Kategorien</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_attributes' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Eigenschaften</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_discounts' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Rabatte</a></div>
              </div>
            </li>
            <li class="nav-item d-flex justify-content-center align-items-center align-content-center" role="presentation" style="padding: 10px;width: 109px;min-width: 109px;max-width: 109px;">
              <a class="nav-link" role="presentation" href="{% url 'administration_employees' %}">Mitarbeiter</a>
            </li>
            <li class="nav-item d-flex justify-content-center align-items-center align-content-center" role="presentation" style="padding: 10px;width: 176px;min-width: 176px;max-width: 176px;">
              <div class="nav-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Systemverwaltung</a>
                <div class="dropdown-menu" role="menu" style="border-radius: 0;border-style: none;border-left: 2px solid rgba(0,0,0,0.5) ;">
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_invoices' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Rechnungen</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_cashboxes' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Kassen</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_safes' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Tresore</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'costumer' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Kunden</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_backups' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Backups</a>
                    <a class="dropdown-item" role="presentation" href="{% url 'administration_payments' %}" style="padding-left: 10px;text-align: left;width: 158px;min-width: 158px;max-width: 158px;">Zahlungsmittel</a>
                </div>
              </div>
            </li>
            <li class="nav-item d-flex justify-content-center align-items-center align-content-center" role="presentation" style="padding: 10px;width: 176px;min-width: 176px;max-width: 176px;">
                <a class="nav-link" href="{% url 'administration_requests' %}">Anfragenverwaltung</a>
            </li>
            <li class="nav-item d-flex justify-content-center align-items-center align-content-center" role="presentation" style="padding: 10px;width: 81px;min-width: 81px;max-width: 81px;">
                <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>