{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

<!-- Head -->
{% block specific %}
<title>Kasse</title>

<link rel="stylesheet" type="text/css" href="{% static 'main/css/cashbox_navbar.css' %}" />
<!--  <link rel="stylesheet" type="text/css" href="{% static 'main/css/admin_navbar.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'main/css/admin_styles.css' %}" />
{% endblock specific %}

<!-- Body -->
{% block content %}
    <!--

    if request.user == admin:
        include 'admin_navbar.html'
    elseif request.user == cashier:
        include 'cashbox_navbar.html'

    -->

    {% include 'cashbox_navbar.html' %}

<section id="body">
    <div class="content container-fluid">
        <div class="card">
            <div class="card-header">
              <!-- change this content -->
              <p>Kundenkartei</p>
            </div>
            <div class="card-body">
              <div class="card-row-1 row">
                <div class="col-12 col-sm-6">
                    <div class="dataTables_filter" id="dataTable_filter-1">
                        <label>
                            <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Suchen...">
                        </label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="dataTables_filter" id="dataTable_filter-1">
                        <button class="btn btn-primary">Kunde hinzufügen</button>
                    </div>
                </div>
              </div>
              <div class="card-row-2 row">
                <div class="col-12">
                    <!-- change this content -->
                    <div role="tablist" id="accordion-costumers">
          <div class="card accordion-item">
            <div class="card-header" role="tab">
              <h4><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-costumers .item-1" href="#accordion-costumers .item-1">Vorname Nachname</a></h4>
            </div>
            <div class="collapse item-1" role="tabpanel" data-parent="#accordion-costumers">
              <div class="card-body">
                <form>
                  <div class="form-row form-row-string">
                    <div class="col">
                      <div class="form-group">
                          <label for="first_name"><strong>Kundennummer</strong></label>
                          <input class="form-control" type="text" placeholder="Kundennummer" name="productname">
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-row-string">
                    <div class="col">
                      <div class="form-group">
                          <label for="first_name"><strong>Vorname</strong></label>
                          <input class="form-control" type="text" placeholder="Vorname" name="productname">
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-row-string">
                    <div class="col">
                      <div class="form-group">
                          <label for="first_name"><strong>Nachname</strong></label>
                          <input class="form-control" type="text" placeholder="Nachname" name="productname">
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-row-string">
                    <div class="col">
                      <div class="form-group">
                          <label for="first_name"><strong>Telefonnummer</strong></label>
                          <input class="form-control" type="text" placeholder="Telefonnummer" name="first_name">
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-row-string">
                    <div class="col">
                      <div class="form-group">
                          <label for="first_name"><strong>E-Mail</strong></label>
                          <input class="form-control" type="text" placeholder="E-Mail" name="first_name">
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-row-string">
                    <div class="col">
                      <div class="form-group">
                          <label for="first_name"><strong>Geburtstag</strong></label>
                          <input class="form-control" type="text" placeholder="Geburtstag" name="first_name">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                          <label for="first_name"><strong>Notizen</strong><br></label>
                          <textarea class="form-control" placeholder="Notizen"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-row-submit">
                <div class="col">
                    <button class="btn btn-primary btn-sm" type="submit">Speichern</button>
                    <button class="btn btn-primary btn-sm" type="submit">Löschen</button>
                    <button class="btn btn-primary btn-sm" type="submit">Löschen bestätigen</button>
                </div>
            </div>
                  <div class="form-row form-row-alert">
                        <div class="col">
                            <div class="alert alert-warning" role="alert"><span><strong>Zum Löschen, bitte bestätigen!</strong></span></div>
                        </div>
                    </div>
                  <div class="form-row form-row-alert">
                        <div class="col">
                            <div class="alert alert-success" role="alert"><span><strong>Settings is saved successfully!</strong></span></div>
                        </div>
                    </div>
                  <div class="form-row form-row-alert">
                        <div class="col">
                            <div class="alert alert-success" role="alert"><span><strong>Item is deleted successfully!</strong></span></div>
                        </div>
                    </div>
                  <div class="form-row form-row-alert">
                        <div class="col">
                            <div class="alert alert-danger" role="alert"><span><strong>Settings could not be saved!</strong></span></div>
                        </div>
                    </div>
                  <div class="form-row form-row-alert">
                        <div class="col">
                            <div class="alert alert-danger" role="alert"><span><strong>Item could not be deleted!</strong><br></span></div>
                        </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>

{% endblock content %}

